ul.countrys a img{
	vertical-align:middle;padding: 0 5px 3px 0;
}
.panel-body{
	padding: 0 !important;
}
ul.search-results{
	
}
ul.search-results li{
	
	border-bottom: 1px solid #EEE;
}
ul.search-results p.title{
	font-weight: bold;
	color: #428bca;
}
ul.search-results p.authors{
	font-style: italic;
}
ul.search-results p.journal{
	
}
ul.search-results p.cited{
	text-align:center;
	font-weight:bold;
}
ul.search-results p.title, ul.search-results p.journal{
	margin: 0;
}
div.row.result-list{
	margin:10px 0 15px 0 !important;
}
div.panel.refine-by p{
	margin: 0px !important;
}
div.panel-body.refine-by .refine-name{
	text-align:left;
	padding: 0 5px;
}
div.panel-body.refine-by .refine-cnt{
	text-align:center;
	padding: 0 5px;
	width:100px;
}
div.panel-body.refine-by .show-all{
	color:#428bca;
	text-align: center; 
	background-color: white;
	border: 1px solid transparent; 
	border-radius: 0 0 4px 4px;cursor:pointer;
}
div.panel-body.refine-by .show-all:hover{
	font-weight: bold;
	color:white;
	background-color: #428bca;
}