body {
/* 	backgaround: rgba(172,188,147,0.5) 100% */
	background-color: #f1f1f1;
}
/* Layout */
.header-container,
.navbar-container,
.content-container,
.footer-contianer {
/* 	padding: 0; */
padding-top: 10px;
padding-bottom: 10px;
}
/* End Layout */
/* Header */
.main-container{
/* 	border-top: 3px solid black; */
/*   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent)); */
/*   background-image: -webkit-linear-gradient(#000, transparent); */
/*   background-image: */
/*       -moz-linear-gradient(#000, transparent), */
/*       -moz-linear-gradient(#000, transparent); */
/*   background-image: */
/*       -o-linear-gradient(#000, transparent), */
/*       -o-linear-gradient(#000, transparent); */
/*   background-image:  */
/*       linear-gradient(#000, transparent), */
/*       linear-gradient(#000, transparent); */
/*   -moz-background-size: 3px 100%; */
/*   background-size: 3px 100%; */
/*   background-position: 0 0, 100% 0; */
/*   background-repeat: no-repeat;  */
/* border-left: 2px solid gray; */
/* border-right: 2px solid gray; */
	-webkit-box-shadow: 0 0 4px #BBB;
    -moz-box-shadow: 0 0 4px #BBB;
    box-shadow: 0 0 4px #BBB;
    background-color: #FFF;
}

.header-container{
	background: #e5e5e5 url(../../images/header_bg.gif) repeat-x;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#e5e5e5));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e5e5e5);
    background-image: -moz-linear-gradient(top,#f8f8f8,#e5e5e5);
    background-image: -ms-linear-gradient(top,#f8f8f8,#e5e5e5);
    background-image: -o-linear-gradient(top,#f8f8f8,#e5e5e5);
    background-image: linear-gradient(top,#f8f8f8,#e5e5e5);
    -webkit-box-shadow: 0 3px 0 #FFF;
    -moz-box-shadow: 0 3px 0 #FFF;
    box-shadow: 0 3px 0 #FFF;
}
.footer-contianer{
	background-color: #f4f4f4;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#dcdcdc));
    background-image: -webkit-linear-gradient(top,#f4f4f4,#dcdcdc);
    background-image: -moz-linear-gradient(top,#f4f4f4,#dcdcdc);
    background-image: -ms-linear-gradient(top,#f4f4f4,#dcdcdc);
    background-image: -o-linear-gradient(top,#f4f4f4,#dcdcdc);
    background-image: linear-gradient(top,#f4f4f4,#dcdcdc);
    -webkit-box-shadow: 0 -1px 0 0 #dcdcdc;
    -moz-box-shadow: 0 -1px 0 0 #dcdcdc;
    box-shadow: 0 -1px 0 0 #dcdcdc;
    color: #666;
    text-align:center;
}

.search-contianer{
/* 	float:right; */
	width: 80%;
	padding-top: 13px;
}

.input-group{
	-webkit-box-shadow: 2px 2px 1px #BBB;
    -moz-box-shadow: 2px 2px 1px #BBB;
    box-shadow: 2px 2px 1px #BBB;
}

/* Utils class */
.no-margin {
	margin: 0;
}
.no-border-radius {
	border-radius: 0;
}
.center-content {
	text-align: center;
}
.content-right {
	text-align: right;
}
.member-contianer{
	float:right;
}

nav.navbar{
	margin: 0;
}

.panel{
	-webkit-box-shadow: 1px 2px 10px #BBB;
    -moz-box-shadow: 1px 2px 10px #BBB;
    box-shadow: 1px 2px 10px #BBB;
}

.btn-warning.advance-search {
    color: #666;
    background-color: #fff;
    border: none;
}