.sidebar {
  display: block;
  float: left;
  width: 320px;
  height: 100%;
  /*padding: 0 5px 0 5px;*/
  background: #F7F9FE;
  border-right: 1px solid #ECF1F2;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.sidebar-nav {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
  padding: 0 0 0 0;
  background-repeat: repeat-x;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);*/
}
.sidebar-nav .menu-header{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0 0 0;
    height: 35px;
    color: #403831;
    background-color: #DBE6EC;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li,
.sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul li.sub{
    padding: 0 0 0 4px;
}
.sidebar-nav ul li.main{
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	/*border:2px solid antiquewhite;*/
	/*border:2px solid grey;*/
}
.sidebar-nav ul li.main a {
  padding: 10px 20px;
  color: #000;
  border-top: 1px solid #DCE8EB;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: #F7F9FE;
}
.sidebar-nav ul li.sub a{
	background-color: #FFF;
	/*text-indent: 20px;*/
}
.sidebar-nav ul li.sub a table{
	border-spacing: 0px;
    border-collapse: separate;
}
.sidebar-nav ul li.sub a table td{
	padding:0px;
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  color: #000;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover,
.sidebar-nav ul ul a:focus,
.sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}

.menubulleticon{
	font-size:12px;
	margin-right: 11px;
}